.search_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 220%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search_container span {
  font-weight:800;
  font-size: .85rem;
  margin: 10px 0 10px 0;
}

.search_container p {
  font-size: .95rem;
  margin: 3px;
}

@media screen and (max-width: 520px) {
  .search_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}