li {
  list-style-type: none;
  width: 100%;
  height: 100%;
}


.container_item {
  margin-bottom: 12px;
  display: grid;
  align-items: center;
  grid-template-columns: 55px auto 32px;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 10px;
  position: relative;
  white-space: pre-line;
  background-color: #24385b;
  color: #ccc;
}

.container_item--active {
  text-decoration: line-through;
  /* background-color: #848282; */
}

.container_check {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_check img {
  width: 48px;
  cursor: pointer;
}

.Icon-check {
  display: none;
}

.Icon {
  background-image: url('../../assets/checkbox0.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  border: 1px solid transparent;

}

.Icon-check--active {
  background-image: url('../../assets/checkbox1.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  /* border-radius: 50%; */
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

.container_description p:nth-child(1) {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.25rem;
  font-family: 'poppins';
  color: #cbc8c8;

}

.container_description p:nth-child(2) {
  font-size: 1.4em;
  line-height: 1.2;
  font-family: 'poppins';
  color: #9aa0a6;
  margin-bottom: 1.2rem;
}

.container_date .container_end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0.25rem;

}

.container_start, .container_end {
  position: relative;
  border-radius: 10px;

}

.container_start::before {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  bottom: 5px;
  vertical-align: middle;
  width: 1px;
  height: 14px;
}

.container_end::after {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  bottom: 3px;
  right: 10px;
  vertical-align: middle;
  width: 1px;
  height: 14px;
}

.container_start span {
  padding-left: 5px;
}

.container_end span {
  padding-right: 6px;
}

.container_start .label_start {
  position: absolute;
  top: -12px;
  font-size: .75rem;
  color: #9aa0a6;
}
.container_end .label_end {
  position: absolute;
  top: -11px;
  right: 10px;
  font-size: .75rem;
  color: #9aa0a6;
}

.label_start::after {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 140px;
  /* padding-right: 8px; */
}

.label_start::before {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 8px;
}

.label_end::before {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 140px;
}

.label_end::after {
  content: "";
  display: inline-block;
  background-color: #a5a5a5;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 8px;
}

.container_description span {
  font-size: 1.1em;
  color: #9aa0a6;
}

.container_date span:nth-child(2) {
  margin-right: 0.5rem;
}

.container_buttons {
  background: transparent;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  border-left: 0.5px solid #a5a5a5;
  visibility: hidden;
}

.container_item:hover .container_buttons {
  visibility: visible;
}

.container_buttons .edit{
  background: transparent;
  background-image: url('../../assets/edit.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  cursor: pointer;
}

.container_buttons .edit::after{
  content: '';
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_buttons .disabled:before {
  content: '';
  display: block; 
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  background-color: rgba(150, 130, 189, 0.5);
  background-color: #24385b;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.container_buttons .trash{
  background: transparent;
  background-image: url('../../assets/trash.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  cursor: pointer;
}

.container_buttons .trash::after{
  content: '';
  width: 26px;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 0.5px solid #a5a5a5;
  cursor: none;
}

/*  ================================================================= Modal createPortal  =================================================================*/

.modal_portal {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  max-width: 475px;
  min-width: 320px;

}

.modal_title {
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1.6em;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  color: #eff3f8;
  /* margin: 0.5rem 0 0.5rem 0; */
}

.container_item__portal {
  /* border: 2px solid red; */
  margin-bottom: 1.25rem;
}

.button_delete {
  width: 100%;
  /* margin-right: 1rem; */
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.5em;
  /* background-color: #dedddd; */
  background-color: #f44336;
  color: #fff;
  letter-spacing: 1.3px;
  cursor: pointer;
  opacity: 0.9;
}

.button_delete:hover {
  background-color: rgb(175, 7, 7);
  opacity: 1;
}

.button_cancel {
  width: 100%;
  margin-right: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.4em;
  /* background-color: #4398e8; */
  background-color: #ccc;
  color: #000;
  letter-spacing: 1.3px;
  cursor: pointer;
  opacity: 0.8;
}

.button_cancel:hover {
  /* background-color: rgb(0, 156, 0); */
  background-color: #ccc;
  opacity: 1;
}

.container_buttons__portal {
  display: grid;
  grid-template-rows: 1fr;
}

.container_item__portal .edit {
  visibility: visible;
}

.container_item__portal .disabled:before {
  content: '';
  display: block; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  background-color: rgba(150, 130, 189, 0.5);
  background-color: #24385b;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.container_item__portal .container_buttons {
  visibility: visible;
}
