main {
  /* border: 1px solid pink; */
  margin-top: 1.8rem;
  margin-bottom: 8rem;
}

.container_list {
  position: relative;
}

@media (min-width: 720px) {
  .container_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* @media screen and (min-width: 1600px) {
  #root {
    margin: 0 auto;
    max-width: 1540px;
  }
} */