#searchForm {
  position: relative;
}

.search {
  border: 1.5px solid #f2f2f2;
  height: 32px;
  width: calc(50% - 10px);
  font-size: 1.6em;
  border-radius: 10px;
  padding-left: 3rem;
  font-weight: 400;
  color: #1e1e1e;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  margin-bottom: 1.25rem;
}

.searchForm_button{
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  border: none;
  outline: none;
  z-index: 1;
}


.search::placeholder {
  color: #a5a5a5;
  font-weight: 500;
}
.search:focus {
  outline-color: #61dafa;
}

@media screen and (max-width: 475px) {
  .search {
    border: 1.5px solid #f2f2f2;
    height: 32px;
    width: calc(100% - 10px);
  } 
}