#searchForm {
  width: 100%;
  position: relative;
  display: flex;
}

.search {
  border: 1.5px solid #5f6368;
  height: 35px;
  max-width: 100%;
  font-size: 1.6em;
  border-radius: 10px;
  padding-left: 3rem;
  font-weight: 400;
  color: #1e1e1e;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  margin-bottom: 1.25rem;
  background: #121f3d;
  color: #9aa0a6;
  outline: none;
  fill: currentColor;
}

.searchForm_button{
  position: absolute;
  top: 5px;
  left: 1.5em;
  color: #9aa0a6;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  fill: currentColor;
}


.search::placeholder {
  color: #a5a5a5;
  font-weight: 500;
}
.search:hover {
  background: #182950;
  border: none;
}

.clear_keyboard {
  position: relative;
  top: 6px;
  right: 2rem;
  color: #9aa0a6;
  outline: none;
  width: 24px;
  fill: currentColor;
  cursor: pointer;
  visibility: hidden;
}

/* .button_addTask {
  position: relative;
  bottom: 0.25rem;
}

.newTasks {
  width: 40px;
  height: 40px;
  font-size: 0.75rem;
  background-image: url('../../assets/more.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  z-index: 99;
}

.newTasks:hover {
  transition: all 0.2s;
  transition: transform 1s;
} */

@media screen and (min-width: 476px) {
  .search {
    width: 320px;
  } 
}