/* #root {
  position: relative;
} */
/* .button_addTask {
  position: relative;
  z-index: 99;
} */

.button_addTask {
  position: relative;
  left: 1.2rem;
  margin-right: 1.5rem;
  bottom: 0.25rem;
  /* right: 1.5rem; */
  /* width: 45px;
  height: 45px; */
  /* font-size: 2rem; */
  /* background-color: red; */
  /* border: 1px solid red; */
}

.newTasks {
  width: 40px;
  height: 40px;
  /* border: 1px solid pink; */
  /* border: 5px solid transparent; */
  font-size: 0.75rem;
  /* position: relative; */
  /* bottom: .90rem; */
  /* right: 0; */
  /* background-image: url('../assets/components/CreateTodoButton/moreTask.png'); */
  background-image: url('../../assets/more.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  /* transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s; */
  /* border: none; */
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  /* background: inherit; */
  z-index: 99;
}

 /* .newTasks.active {
  z-index: -99;
} */

.newTasks:hover {
  /* transform: rotate(-8deg); */
  transition: all 0.2s;
  transition: transform 1s;
  /* z-index: 99; */
}