/* .button_addTask {
  position: relative;
  left: 1.2rem;
  margin-right: 1.5rem;
  bottom: 0.25rem;
}

.newTasks {
  width: 40px;
  height: 40px;
  font-size: 0.75rem;
  background-image: url('../../assets/more.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  z-index: 99;
}


.newTasks:hover {
  transition: all 0.2s;
  transition: transform 1s;
} */